@charset "Utf-8";

*{
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: Open Sans, Helvetica Neue, sans-serif;
}

body{
    width: 100%;
    background-color: #EDEEF0;
    
}

a{
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    background-color: #507299;
}

#wrapperHeader{
    margin: 0px auto;
    width: 1000px;
    height: 40px;
}

#logotype{
    float: left;
    width: 160px;
    height: 40px;
    background: url('../img/logotype.png') no-repeat;
    background-size: 33px;
    background-position: 0px 10px;
    cursor: pointer;
}

#logotype:active{
    background-position: 1px;
}

#search{
    margin: 6px 0px;
    padding: 0px 0px 0px 30px;
    width: 220px;
    height: 30px;
    border: transparent;
    background: url('../img/search.png') no-repeat;
    background-position: 10px 8px; 
    background-color: #31537A;
    border-radius: 15px;
    color: #31537A;
    size: .75em;
}

#search:focus{
    background-color: #FFF; 
}

#SwitchToEng{
    padding-top: 15px;
	padding-left: 20px;
	float: right;
	width: 130px;
	height: 28px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 12.5px;
	cursor: pointer;
}

#SwitchToEng:hover{
    background-color: #486991;
}

#SwitchToEng:active{
    background-color: #43648C;
}

/***Content***/

#main{
    overflow: auto;
	margin: 0px auto;
	width: 1000px;
	height: 800px;
}


#mobileVersion{
    margin-top: 100px;
	float: left;
	width: 580px;
	height: 600px;
}

#mobileVersion #title, #mobileVersion #subtitle {
	text-align: center;
	font-family: Open Sans,Helvetica Neue,sans-serif;
}

#mobileVersion #title {
	font-size: 22px;
	margin-bottom: 10px;
}

#mobileVersion #subtitle {
	font-size: 15px;
	color: #222;
	line-height: 23px;
}

#android #download, #ios #download, #wp #download  {
	padding: 5px 2px 5px 15px;
	width: 130px;
	height: 22px;
	text-align: center;
	line-height: 2.1;
	background-color: transparent;
	color: #285473;
	font-size: 12.5px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
}

#android #download:hover, #ios #download:hover, #wp #download:hover {
	background-color: #E1E5EB;
}

#android {
	margin: 50px 0px 0px 55px;
	float: left;
	background: url('../img/android.png') no-repeat;
	width: 180px;
	height: 430px;
	cursor: pointer;
}

#android #download {
	margin: 397px auto 0px;
}

#android #logo {
	float: left;
	background: url('../img/icoAndroid.png') no-repeat;
	width: 20px;
	height: 100%;
}

#ios {
	position: relative;
	margin: 35px 0px 0px -30px;
	float: left;
	background: url('../img/ios.png') no-repeat;
	width: 190px;
	height: 445px;
	z-index: 20;
	cursor: pointer;
}

#ios #download {
	margin: 412px auto 0px;
}

#ios #logo {
	float: left;
	background: url('../img/icoIos.png') no-repeat;
	width: 20px;
	height: 100%;
}

#wp {
	margin: 50px 0px 0px -30px;
	float: left;
	background: url('../img/wp.png') no-repeat;
	width: 190px;
	height: 430px;
	cursor: pointer;
}

#wp #download {
	margin: 397px auto 0px;
}

#WindowsPhone{
	float: left;
	background: url('../img/icoWp.png') no-repeat;
	width: 20px;
	height: 100%;
}

#rightsight {
	margin: 90px 0px 0px 75px;
	float: left;
	width: 340px;
	height: 615px;
}

#authorizationForm {
	float: left;
	width: 99.5%;
	height: 200px;
	background-color: #fff;
	border: 1px solid #E3E4E8;
	border-bottom: 1px solid #D7D8DB;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#login, #password, #nameUser, #surnameUser {
	padding: 6px 12px 8px;
	width: 80%;
	height: 35px;
	border: 1px solid #D3D9DE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	color: #000;
}

#login {
	margin: 30px 0px 0px 30px;
}

#password, #nameUser, #surnameUser {
	margin: 17px 0px 0px 30px;
}

#finishAuthorization {
	margin: 20px 0px 0px 30px;
	float: left;
	width: 105px;
	height: 35px;
	background-color: #5E81A8;
	border: 1px solid #5E81A8;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

#finishAuthorization:hover {
	background-color: #6888AD;
}

#finishAuthorization:active {
	background-color: #5779A1;
	padding-top: 2px;
}

#restorePass{
	float: left;
	margin: 30px 0px 0px 20px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	font-size: 13px;
}

#restorePass a {
	color: #285473;
}

#registrationForm {
	margin-top: 35px;
	float: left;
	width: 99.5%;
	height: 360px;
	background-color: #fff;
	border: 1px solid #E3E4E8;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
}

#registrationForm #title, #registrationForm #subtitle {
	text-align: center;
	font-family: Open Sans,Helvetica Neue,sans-serif;
}

#registrationForm #title {
	font-weight: 400px;
	margin-top: 25px;
	font-size: 20px;
	color: #2b2f33;
}

#registrationForm #subtitle {
	margin-top: 5px;
	font-size: 12.5px;
	color: #656565;
}

#birthdayTitle {
	margin: 15px 30px;
	float: left;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	color: #939393;
	font-size: 13px;
	font-weight: bold;
}

#dateBirthday {
	margin: 1px 0px 0px 30px;
	float: left;
	width: 85%;
}


#dateList, #monthList, #yearList {
	margin-right: 2px;
	padding: 4px 0 2px 9px;
	height: 30px;
	font-size: 15px;
	text-align: center;
	color: #7C7F82;
	border: 1px solid #D3D9DE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

#dateList {
	width: 80px;
}

#monthList {
	width: 100px;
}

#yearList {
	width: 78px;
}

#dateList:focus, #monthList:focus, #yearList:focus {
	color: #000;
}

#registrationForm #button {
	margin: 15px 30px;
	float: left;
	width: 80%;
	height: 40px;
}

#registrationButton {
	width: 100%;
	height: 35px;
	background-color: #5FB053;
	border: 1px solid #5FB053;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

#registrationButton1 {
	width: 100%;
	height: 35px;
	border: 1px solid #1B6DD1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
    background: url('../img/facebook.png') no-repeat;
	font-size: 1em;
    background-color: #1B6DD1;
}

#registrationForm #button1 {
	margin: -5px 30px;
	float: left;
	width: 80%;
	height: 40px;
}

#registrationButton:hover {
	background-color: #68B35D;
}

#registrationButton:active {
	padding-top: 3px;
	background-color: #5AA84D;
}

#registrationButton1:hover {
	background-color: #1B6DB1;
}

#registrationButton1:active {
	padding-top: 3px;
	background-color: #1B6DB1;
}


/***Footer***/
.clear {
	clear: both;
}

#aboutVK , #smth, #lang {
	color: #828282;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	font-size: 13px;
}

#aboutVK {
	margin: 20px 0px 0px 30px;
	float: left;
}

#aboutVK a, #smth a , #lang a{
	color: #285473;
}

#smth {
	margin: 20px 0px 0px 120px;
	float: left;
}

#lang {
	margin: 20px 0px 0px 30px;
	float: right;
}


