<h2>Products</h2>

<div *ngFor="let product of products">
	<h3>
		<a href={{product.url}}>
			<a [title]="product.name + ' details'">
				{{product.name}}
			</a>
		</a>
		<br>
    <ngx-image-zoom
    [thumbImage]=myThumbnail
    [fullImage]=myFullresImage
></ngx-image-zoom>
		<img src={{product.image}} alt="iPhone 11 Pro Max" height="30%" width="30%">
  </h3>

		<p *ngIf="product.description">
			Description: {{product.description}}
		</p>
    <div >
        <star-rating value="5" totalstars="5" checkedcolor="#19AAA0" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
    </div>
    <br>
		<button (click)="share"  ><a href = "https://api.whatsapp.com/send?phone=77076770099&text={{product.url}}"  style="color: white"> Share</a></button>
		
</div>
		<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->